<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Module">

<listeners>
<listener class-name="test_components.Listener"></listener>
</listeners>
  <test thread-count="5" name="Regression Test">

    <classes>
       	<class name="tests.SettingTests"/> 
  		<class name="tests.LoginTests"/>  
      	<class name="tests.ViewContactTest"/>  
   		<class name="tests.AddContactsTests"/> 
		<class name="tests.RegistrationEndToEndTest"/> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
